APP_API_KEY=05c1c41490cfb8483683b7172ac77b81ccfc92490bbc7296a7243dc6fbd5bd89
ENV=development
APP_ENV=development
DATABASE_URL=sqlite:///./database.db
APP_ENCRYPTION_KEY=6qAZJm8osAlOu1xh63Bd116SgcsdDF5vIrB4nu2AQqc=
